* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-color: #313131;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  padding: 20px;
  font-size: 64px;
  width: 50vh;
  height: 50vh;
  background-color: cornflowerblue;
  color: white;
  border: solid 10px white;
  border-radius: 100%;

  transition: 0.2s;
}
button:active {
  background-color: coral;
  transform: scale(1.2);
}
@media only screen and (max-width: 600px) {
  button {
    width: 50vw;
    height: 50vw;
  }
}
